<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Прогнозирование цен на акции</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icon.ico') }}" type="image/x-icon">
</head>
<body>
    <h1>Прогнозирование цен на акции</h1>
    <form action="/predict" method="post">
        <label for="symbol">Выберите символ акции:</label>
        <select id="symbol" name="symbol" required>
            <option value="AAPL">Apple Inc. (AAPL)</option>
            <option value="GOOGL">Google (Alphabet Inc.) (GOOGL)</option>
            <option value="MSFT">Microsoft Corporation (MSFT)</option>
            <option value="AMZN">Amazon.com Inc. (AMZN)</option>
        </select>
        <button type="submit">Предсказать</button>
    </form>

    <!-- Новый раздел о программе -->
    <section id="about">
        <h2>О программе</h2>
        <p>Это веб-приложение разработано для прогнозирования будущих цен на акции с использованием передовых методов машинного обучения. Оно использует исторические данные о ценах на акции для прогнозирования цены закрытия следующего дня.</p>
        <h3>Технологии и методология</h3>
        <p>Основой нашей модели прогнозирования является сеть <strong>долгой краткосрочной памяти (LSTM)</strong>, тип рекуррентной нейронной сети, подходящей для анализа последовательных данных. Сети LSTM особенно эффективны в решении проблемы долгосрочных зависимостей, что делает их идеальными для прогнозирования временных рядов, таких как цены на акции.</p>
        <p>Приложение построено на <strong>Python</strong> с использованием веб-фреймворка <strong>Flask</strong> для бэкенда и использует <strong>Keras</strong> с бэкендом <strong>TensorFlow</strong> для построения и запуска нейронной сети. Данные поступают в реальном времени из <strong>Yahoo Finance</strong> через библиотеку <strong>yfinance</strong>, что обеспечивает актуальность предсказаний.</p>
        <p>Как это работает:</p>
        <ul>
            <li>Сбор данных: Исторические данные о закрытии цен выбранной акции загружаются за последний год.</li>
            <li>Предобработка данных: Данные нормализуются с использованием MinMaxScaler, чтобы обеспечить подачу данных в масштабе, подходящем для операций нейронной сети.</li>
            <li>Обучение модели: Модель LSTM обучается на этих исторических данных, изучая закономерности и аномалии в движении цен на акции.</li>
            <li>Прогнозирование: Модель делает прогноз на основе данных о последних 60 днях закрытия цен.</li>
        </ul>
        <p>Такой подход позволяет нашему приложению предоставлять прогнозы с разумной степенью точности, делая его ценным инструментом для инвесторов и трейдеров, стремящихся к осознанным решениям.</p>
    </section>
</body>
</html>
